name: Auto-close completed issues

on:
  issues:
    types: [labeled, opened]

jobs:
  auto-close:
    runs-on: ubuntu-latest
    steps:
      - name: Check and close issue
        if: contains(join(github.event.issue.labels.*.name, ','), 'completed') || (github.event.label && github.event.label.name == 'completed')
        uses: actions-cool/issues-helper@v3
        with:
          actions: 'close-issue'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}