name: Auto-close completed issues

on:
  issues:
    types: [labeled, opened]

jobs:
  auto-close:
    runs-on: ubuntu-latest
    if: contains(github.event.label.name, 'completed') || contains(github.event.issue.labels.*.name, 'completed')
    steps:
      - name: Close issue
        uses: actions-cool/issues-helper@v3
        with:
          actions: 'close-issue'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}